# MirrorBox: /boot/grub/grub.cfg（BIOS 引导菜单）
set timeout=5
set default=0

menuentry "从硬盘引导（Windows bootmgr）" {
  insmod chain
  chainloader /bootmgr
}

menuentry "Linux 内核（/vmlinuz + /initrd.img）" {
  linux /vmlinuz
  initrd /initrd.img
}

menuentry "GRUB 命令行" {
  echo "输入 ls 查看分区，例如: ls (hd0,msdos1)/"
}
